body{
    background-image: url("desola-lanre-ologun-zYgV-NGZtlA-unsplash.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

/* ---------Index Page Start---------- */
.registration-form{
	padding: 15px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }
}
/* ---------Index Page End---------- */

/* ---------------NAVBAR START------------- */
.hz-menu ul {
    font-size: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    padding: 0%;
    padding-left: 0%;
}

.hz-menu ul li a {
    position: relative;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 15px;
    border-radius: 10px;
    color: #ff4127;
    /* color: rgb(254, 134, 24); */
   color: rgb(179, 42, 172);
    text-decoration: none;
}

.hz-menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: 0.3s;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.1);
    z-index: -1;
    transform: scale(0.5, 0.5);
    opacity: 0;
}

.hz-menu ul li a:hover::after {
    transform: scale(1, 1);
    opacity: 1;
}

@media only screen and (max-width: 830px) {
    .hz-menu ul {
        flex-direction: column;
        gap: 35px;
    }
}
/* ---------------NAVBAR END------------- */